@import "../../Styles/buttons.css";
@import "../../Styles/heading.css";

.instructor {
    width:100%;
  display: column;
  flex-direction: column;
  align-items: center;
}

img{
  margin-left:auto;
  /* align-items:center; */
  height:5rem;
  width:11rem;
  transform:translateY(1.65rem);
}
/*  */
.content_main {
    /* margin-top:auto; */
    margin:auto;
    align-items:center;
    width: 50%;
    /* margin: 5rem auto auto 20rem; */
    height: 100%;
    
     /* background-color: #fff; */
}

.button {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 2rem;
    margin: 5rem;
    width: 70%;
    min-width: 15rem;
  }
/*  */
@media (max-width: 360px) {
  .main-heading{
    font-size:2.5rem;
    letter-spacing: 2px;
  }
  .instructor{
    margin-left:1rem;
    
}  
.content_main{
  
  margin-left: 1rem;
}
.button {
  margin: 1rem;
  font-size: 1rem;
}

}
@media (max-width: 440px) {
  .instructor{
    margin-left:0.3rem;
    transform: translateX(0rem);
}  
.content_main{
  margin-left: 0rem;
  transform: translateX(-2rem);
}
.button {
  margin: 1rem;
  font-size: 1.7rem;
  padding: 0.5rem 0.5rem;
}
}
@media (max-width: 490px) {
    /* small  */
    .instructor{
        transform: translateX(-3rem);
    }  
    .content_main{
      margin-left: 0rem;
  }
  .button {
    margin: 1rem;
  }
}
@media (max-width: 1200px) {
    /* tab ls */
    .instructor{
        transform: translateX(-3rem);
    }
  }

@media (max-width: 600px) {
    /* phone */
    .instructor{
        transform: translateX(-3rem);
    }
    .content_main{
      margin-left: 4rem;
  }
  .button {
    margin: 2rem;
  }
}

@media (max-width: 760px) {
    /* large ph */
    .instructor{

        transform: translateX(-2rem);
    }
    .content_main{
      margin-left: 4rem;
  }
}